@page
@model MyAPI.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Velkommen";
}

<div class="container mt-5 text-center">
    <h1 class="display-4">MyAPI - Epilepsi Overvågning</h1>
    <p class="lead">Sundhedsfagligt system til registrering og analyse af epileptiske anfald</p>

    <div class="mt-4">
        <a href="/Account/Login" class="btn btn-primary btn-lg">Log ind</a>
        <a href="/Account/Register" class="btn btn-outline-secondary btn-lg">Opret bruger</a>
    </div>
</div>